@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1230px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
  padding: 12px 48px;
  background-color: #db2512;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn:hover, .btn:focus, .btn:active {
  background-color: #7e1206;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.header_active {
  background: #171616;
}

.header__burger {
  display: none;
  width: 40px;
  height: 28px;
  position: relative;
}

.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}

.burger__line-first {
  top: 0;
}

.burger__line-second {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.burger__line-third {
  bottom: 0;
}

.header__wrapper {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__block {
  width: 35%;
}

.header__block:last-child {
  text-align: right;
}

.header__logo-pic {
  height: 65px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;
  margin: 0 auto 0 0;
}

.nav__link {
  display: block;
  color: #ffffff;
  margin-right: 35px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.nav__link:last-child {
  margin-right: 0;
}

.nav__link:hover, .nav__link:active, .nav__link:focus {
  border-bottom: 2px solid #ffffff;
}

.header__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__lng-link {
  margin-right: 8px;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;
  color: #b7b7b7;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header__lng-link:last-child {
  margin-right: 0;
}

.header__lng-link:hover, .header__lng-link:active, .header__lng-link:focus {
  color: #ffffff;
}

.intro {
  background: url(../img/intro_bg.jpg) no-repeat top center;
  background-size: cover;
  position: relative;
}

.intro::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.intro__content {
  padding-top: 217px;
  position: relative;
  height: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 2;
}

.intro__block {
  max-width: 791px;
}

.intro__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.info {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.info__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}

.info__block {
  width: 33.333%;
  padding: 0 10px;
}

.info__item {
  height: 100%;
  padding: 39px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.info__image {
  margin-bottom: 20px;
}

.info__image-pic {
  height: 30px;
}

.info__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.info__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #b7b7b7;
}

.service {
  margin-bottom: 98px;
}

.service__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.service__link {
  display: inline-block;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.15em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
}

.service__link:hover {
  text-decoration: none;
}

.service__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}

.service__element {
  width: 33.333%;
  padding: 0 10px;
}

.service__item-content {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 21px;
  position: relative;
}

.service__item-content::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.service__item-content:hover:after {
  background-color: rgba(0, 0, 0, 0.7);
}

.service__item-content:hover .service__content-hover {
  opacity: 1;
}

.service__content-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.service__item-image {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #db2512;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.services__text {
  max-width: 270px;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.23em;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  left: 29px;
  bottom: 33px;
}

.service__item-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.23em;
  text-transform: uppercase;
  color: #000000;
}

.about {
  margin-bottom: 99px;
  padding: 115px 0;
  background-color: #171616;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__block {
  max-width: 505px;
}

.about__block-title {
  margin-bottom: 42px;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffffff;
}

.about__block-text {
  margin-bottom: 48px;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.23em;
  color: #b7b7b7;
}

.about__more {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.15em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #ffffff;
}

.about__more:hover, .about__more:focus, .about__more:active {
  text-decoration: none;
}

.about__image-pic {
  max-width: 100%;
}

.work {
  margin-bottom: 99px;
}

.work__content {
  text-align: center;
}

.work__title {
  margin-bottom: 5px;
  font-weight: 900;
  font-size: 148px;
  line-height: 150%;
  text-transform: uppercase;
}

.work__title-small {
  margin-bottom: 92px;
  font-weight: 600;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.work__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px;
}

.work__block {
  text-align: left;
  width: 33.333%;
  padding: 0 10px;
}

.work__item {
  height: 100%;
  padding: 31px 31px 23px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}

.work__item-title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.work__item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #b7b7b7;
}

.contacts {
  padding: 98px 0;
  background-color: #171616;
}

.contacts__title {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffffff;
}

.contacts__form {
  max-width: 440px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px;
}

.form__groop {
  margin-bottom: 35px;
  padding: 0 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.input {
  width: 100%;
  padding: 9px 0;
  color: #ffffff;
  font-size: 15px;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.input:focus + .label {
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
  font-size: 12px;
}

.input:not(:placeholder-shown) + .label {
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
  font-size: 12px;
}

.label {
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.15em;
  color: #ffffff;
  position: absolute;
  top: 10px;
  left: 20px;
  pointer-events: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.textarea {
  min-height: 130px;
  width: 100%;
  resize: vertical;
  padding: 9px 0;
  color: #ffffff;
  font-size: 15px;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.textarea:focus + .label {
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
  font-size: 12px;
}

.textarea:not(:placeholder-shown) + .label {
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
  font-size: 12px;
}

.btn__form {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-transform: uppercase;
  color: #ffffff;
  padding: 12px 76px;
  background-color: #db2512;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.btn__form:hover, .btn__form:focus, .btn__form:active {
  background-color: #7e1206;
}

.footer__wrapper {
  min-height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright {
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.15em;
}

.footer__soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__soc-link {
  margin-right: 22px;
}

.footer__soc-link:last-child {
  margin-right: 0;
}

.footer__img {
  height: 25px;
  width: 25px;
}

@media (max-width: 1260px) {
  .info__item {
    padding: 25px;
  }
  .info__title {
    font-size: 16px;
  }
  .info__text {
    font-size: 14px;
  }
}

@media (max-width: 1080px) {
  .info__title {
    letter-spacing: unset;
  }
  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__block {
    margin-bottom: 10px;
  }
  .service__item-content {
    height: 400px;
  }
  .intro__content {
    height: 630px;
  }
  .work__title {
    font-size: 120px;
  }
}

@media (max-width: 860px) {
  .header__logo-pic {
    height: 50px;
  }
  .intro__title {
    font-size: 40px;
    margin-bottom: 23px;
  }
  .intro__content {
    padding-top: 168px;
    height: 576px;
  }
  .intro__block {
    text-align: center;
  }
  .service__item-content {
    height: 300px;
  }
  .service__link {
    margin-bottom: 30px;
  }
  .service {
    margin-bottom: 65px;
  }
  .services__text {
    display: none;
  }
  .about {
    margin-bottom: 37px;
    padding: 73px 0;
  }
  .about__block-title {
    margin-bottom: 20px;
    font-size: 22px;
  }
  .about__block-text {
    margin-bottom: 22px;
  }
  .work__title {
    font-size: 90px;
  }
  .work__title-small {
    margin-bottom: 60px;
    font-size: 34px;
  }
  .work {
    margin-bottom: 70px;
  }
  .contacts {
    padding: 60px 0;
    text-align: center;
  }
  .contacts__form {
    margin: 0 auto;
  }
  .footer__wrapper {
    min-height: 90px;
  }
}

@media (max-width: 770px) {
  .header__block {
    width: 47%;
  }
  .header__burger {
    display: block;
    margin: 0 auto 0 0;
    cursor: pointer;
  }
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 40px;
    text-decoration: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #171616;
    z-index: 10;
    padding: 75px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear;
  }
  .header__nav a {
    margin-bottom: 30px;
  }
  .header__nav_active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header__nav-close {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
  }
  .header__nav-close-line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 50%;
  }
  .header__nav-close-line:first-child {
    -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
  }
  .header__nav-close-line:last-child {
    -webkit-transform: translateY(-50%) rotate(-45deg);
            transform: translateY(-50%) rotate(-45deg);
  }
  .nav__link {
    text-decoration: none;
  }
  .nav__link:hover, .nav__link:active, .nav__link:focus {
    border-bottom: none;
  }
  .info {
    -webkit-transform: translateY(-70px);
    transform: translateY(-70px);
  }
  .info__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info__block {
    width: 386px;
    margin-bottom: 10px;
  }
  .info__item {
    text-align: center;
  }
  .service__block {
    text-align: center;
  }
  .work__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .work__block {
    width: 386px;
    margin-bottom: 10px;
  }
  .work__item {
    text-align: center;
  }
}

@media (max-width: 550px) {
  .intro__title {
    font-size: 34px;
    margin-bottom: 20px;
  }
  .intro__content {
    padding-top: 144px;
    height: 496px;
  }
  .info {
    -webkit-transform: translateY(-35px);
    transform: translateY(-35px);
  }
  .info__block {
    width: 290px;
  }
  .info__item {
    padding: 15px;
  }
  .info__image {
    margin-bottom: 10px;
  }
  .info__title {
    margin-bottom: 5px;
  }
  .service__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .service__element {
    width: 100%;
    padding: 0 10px;
  }
  .service__item-content {
    height: 250px;
    width: 100%;
    background-position: center;
  }
  .service__item-content {
    margin-bottom: 0px;
  }
  .service__item-title {
    margin-bottom: 10px;
  }
  .service {
    margin-bottom: 20px;
  }
  .about {
    margin-bottom: 16px;
    padding: 31px 0;
  }
  .about__block-title {
    margin-bottom: 16px;
    font-size: 20px;
    text-align: center;
  }
  .work {
    margin-bottom: 20px;
  }
  .work__title {
    font-size: 70px;
  }
  .work__title-small {
    margin-bottom: 30px;
    font-size: 26px;
  }
  .work__block {
    width: 290px;
  }
  .work__item {
    padding: 15px;
  }
  .work__item-title {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .work__item-text {
    font-size: 15px;
  }
  .contacts {
    padding: 20px 0;
  }
  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__wrapper {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 460px) {
  .header__nav {
    font-size: 24px;
  }
  .intro__content {
    padding-top: 130px;
    height: 426px;
  }
  .intro__title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .info {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .work__title {
    font-size: 50px;
  }
}
